<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Вакансии и движение сотрудников{% endblock %}</title>
    <!-- Подключение стилей -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <strong>HR Приложение</strong>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/dashboard/">Dashboard</a>
                <a class="navbar-item" href="/">Таблица</a>
                <a class="navbar-item" href="/admin">Админ панель</a>
            </div>
        </div>
    </nav>

    <main class="section">
        <!-- Основное содержание страницы -->
        {% block content %}{% endblock %}
    </main>

    <!-- <footer class="footer">
        <div class="content has-text-centered">
            <p>&copy; 2024 My Site</p>
        </div>
    </footer> -->

    <!-- Подключение скриптов для работы меню-бургера -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Получаем все элементы меню-бургера
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Проверяем, есть ли такие элементы
            if ($navbarBurgers.length > 0) {
                // Добавляем обработчик события click на каждый элемент
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {
                        // Получаем цель из атрибута data-target
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Переключаем класс is-active на элементе меню-бургера и цели
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
        });
    </script>
</body>
</html>
